/* Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

/* scroll */

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background: transparent; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(220.55deg, #ffffff 0%, #080808 100%);
  border-radius: 20px;
}

/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', cursive;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: #000;
}

.App {
  height: 100vh;
}

/* Login */

.login-container{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  background: linear-gradient(220.55deg, #2c2c2c 0%, #dfdfdf 50%, #474747 100%);

}

.login-container img{
  max-width: 900px;
  margin-right: 0px;
  margin-top: auto;
}

.login-container form{
  margin: 10px 0;
 
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  
}

.login-form h1{
color: rgb(0, 0, 0);
font-size: 80px;
font-family: "Bebas Neue", sans-serif;

}

@media (max-width: 900px) {
  .login-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .login-container img{
    max-width: 350px;
    margin-right: 0px;
    margin-top: auto;
  }
  .login-form h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    
    }
  
}
@media (max-width: 500px) {

  .login-container img{
    max-width: 300px;
    margin-right: 0px;
    
  }
  
}
@media (max-width: 350px) {

  .login-container img{
    max-width: 150px;
    margin-right: 0px;
    
  }
  
}
.login-container form input{
  padding: 0.5rem 0.85rem;
  height: 45px;
  border-radius: 6px 0 0 6px;
  border-right: none;
  background-color: rgb(230, 230, 230);
  transition: 300ms ease-in;
  margin-top: 15px;
}

.input-login {
  --glow-color: rgba(0, 0, 0, 0.484);
  --glow-spread-color: rgba(0, 0, 0, 0.684);
  --enhanced-glow-color: rgb(0, 0, 0);
  --btn-color: rgb(0, 0, 0);
  border: .25em solid var(--glow-color);
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  outline: none;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(0, 0, 0, 0.05) -25px 25px;
  transition: 300ms ease-in;
  }

.input-login::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.login-container form button{
  border-radius: 0 6px 6px 0;
  height: 45px;
  width: 50px;
  background-color: rgb(0, 0, 0);
  transition: 300ms ease-in;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 0.85rem;
  padding-top: 5px;
  transition: 300ms ease-in;
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(0, 0, 0, 0.05) -25px 25px;
 
}
.login-container form button:hover{
  background-color: rgb(23, 23, 23);
  
}  

.login-container form input:hover,
.login-container form input:focus{
  border-right: none;
}

.login-container .active-login-button{
  outline: none;
  cursor: pointer;
}

.login-container .active-login-input{
  border-right: none;
}

.login-container form button i{
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  
}

/* Page */

.page-container{
  display: flex;
  align-items: center;
  min-height: 500px;
  justify-content: center;


}
.page-container img{
  max-width: 500px;
}

.page-info h1{
 
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  
  }

.page-info p{
    width: 450px;
    
  }

.page-info button{
  border-radius:  6px;
  margin: 20px 0px 20px 0;
  outline: none;
  color: #fff;
  background-color: #000000ad;
  padding: 20px 60px;
  border: none;
  cursor: pointer;
  transition: 200ms ease-in;
  font-size: 20px;
}
.page-info button:hover{
  scale: 0.9;
}

@media (max-width: 1000px) {
  .page-container{
     flex-direction: column;
      align-items: center;
      text-align: center;
}
  .page-container img{
     max-width: 250px;
      margin-right: 0px;
      margin-top: auto;
}
 .page-info h1{
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
      
}
  .page-info p{
      width: 350px;
        
}
  .page-info button{
     margin: 20px 0px 20px 0;
    padding: 15px 50px;
    font-size: 18px;
}
    
}
@media (max-width: 400px) {
  .page-container img{
    max-width: 150px;
    margin-right: 0px;
      
}
.page-info p{
   width: 250px;
      
}
}

/* Home */

.pokedex-container{
  padding: 0.5rem;
  background-color: #470000;

}

.pokedex-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
                                          
}
.pokedex-title h1{
  font-family: "Bebas Neue", sans-serif;
                                                
}

.dark-mode {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(92, 4, 160) 0%, rgb(31, 4, 51) 52%, rgba(0,0,0,1) 100%);
  color: white;
  transition: 500ms ease-in;

}

.light-mode {
  background: rgb(255, 255, 255);
  background: linear-gradient(220.55deg, #FFC328 0%, #E20000 100%);
  transition: 500ms ease-in;

}


.check{
  width: 60px;
  height: 30px;
  background-color: #000000;
  border-radius: 60px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;

}

.check::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(0deg, #ff0000 45%, #ffffff 45%);
  border-radius: 50%;
  transition: all 0.4s ease;
  color: #ff0000;
}
.check::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  left: 10px;
  top: 51%; 
  background-color: black; 
  transform: translateY(-1px); 
  transition: all 0.4s ease;
 
}

.trocarCor {
  display: none;
}
.trocarCor:checked + .check::before {
  left: calc(60px - 30px);
  background: linear-gradient(0deg, #ffffff 45%, #ffffff 45%);
  transition: all 0.4s ease;
  
}

.trocarCor:checked + .check::after {
  left: calc(60px - 30px);
  
}
.trocarCor:checked + .check {
  border: 3px solid #ffffff; 
  transition: all 0.4s ease;
}

.pokedex-title{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 0.5rem;
}

.pokedex-title img{
  width: 50px;
}


.pokedex-menu{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  
 
}
@media (max-width: 900px) {
  .pokedex-menu{
    display: flex;
    flex-direction: column;
   
  }
  
}
.pokedex-menu form input{
  border: none;
  padding: 0.5rem 0.75rem;
  height: 35px;
  border-radius: 6px 0 0 6px;
  background-color: #000000ad;
  outline: none;
  width: 200px;
  transition: 0.2s;
  color: #fff;
}
.pokedex-menu form input::placeholder{
  color: #ffffff;
}

.pokedex-menu form button{
  border-radius: 0 6px 6px 0;
  height: 35px;
  width: 35px;
  background-color: rgb(0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  
}

.pokedex-menu form button:hover .bx,
.pokedex-menu form button:focus .bx{
  transform: scale(1.5);
}

.pokedex-menu form button i{
  color: white;
  transition: 0.2s;
  font-size: 15px;
}

.pokedex-menu select{
  border-radius: 6px;
  padding: 0.5rem;
  background-color: #000000;
  border: none;
  outline: none;
  margin-bottom: 3px;
  transition: 0.2s;
  cursor: pointer;
  color: #fff;
}

.select-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Popup */

.popup {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background-color: #000000ad;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  color: #ffffff;
  z-index: 1000;
  animation:  fadeInOut 2s ease-in-out infinite;
  opacity: 0;
  transition: opacity 0.9s ease;
  border: none;
  border-radius: 6px;
}

@keyframes fadeInOut {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-5px);
  }
  0%, 100% {
      opacity: 0.1;
  }
  50% {
      opacity: 1;
  }
}
.pagination{
  display: flex;
  gap: 10px;
}
.pagination button{
  background-color: #000000ad;
  color: #ffffff;
  font-size: 25px;
  outline: none;
  display: flex;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  margin-top: 30px;
}
.pagination button:hover{
  color: #c3c3c3;
}
.pagination button:active{
  color: #ca2424;
}

.select-container select::-webkit-scrollbar{
  background-color: rgb(0, 0, 0);
  width: 7px;
}

.select-container select::-webkit-scrollbar-thumb{
  background-color: rgb(186, 186, 186);
  width: 5px;
  border-radius: 5px;
}

.pokemons-list-container{
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  
}

.pokemons-list{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  padding: 1rem 0;
  align-items: center;
  width: 100%;
  max-width: 380px;
}

.n-p-btns-container{
  width: 80%;
}

.n-p-btns-container form{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.one-btn form{
  justify-content: center;
}

.n-p-btns-container form button{
  border-radius: 6px;
  border: none;
  background-color: rgb(45, 168, 127);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

.n-p-btns-container form button:hover,
.n-p-btns-container form button:focus{
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.n-p-btns-container button i{
  color: white;
}

.pokedex__footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1rem 0;
  text-align: center;
}

.pokedex__footer a,
.pokedex__footer p{
  color: white;
 
}
.pokedex__footer a:hover,
.pokedex__footer p:hover{
  color: rgb(203, 203, 203);
 
}
.footer__link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media screen and ( min-width: 560px ){
  .pokemons-list{
    grid-template-columns: 1fr 1fr;
    max-width: 570px;
  }
}

/* Card */

.loading-data-box{
  height: 18px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  animation: skeleton-loading 2s linear infinite;
  
}

.pokemon-card{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  margin-top: 90px;
  margin-bottom: 0px;
  margin-left: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: 3px solid #ffffffbb;
 
}
@media (max-width: 900px) {
  .pokemon-card{
    margin-top: 70px;
    margin-left: 10px;
  }
  @media (max-width: 550px) {
    .pokemon-card{
      margin-top: 70px;
      margin-left: 0px;
    }
  }
}

.pokemon-card:hover{
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.p-c-bg {
 height: 280px;
}

@media (min-width: 1100px) {
  .p-c-bg {
    height: 330px;
  }
}

@media (max-width: 1000px) {
  .p-c-bg {
    height: 260px;
  }
}
@media (max-width: 560px) {
  .p-c-bg {
    height: 360px;
  }
}

.pokemon-card img {
  min-height: 100px;
  background-color: rgba(214, 214, 214, 0.323);
  width: 90%;
  position: absolute;
  top: 15px; 
  transition: 0.2s;
  border-radius: 15px;
  border: 3px solid #ffffff34;
}


.pokemon-card:hover img{
  transform: scale(1.0);
}

.pokeball-spinning{
  animation: pokeball-spinning 4s linear infinite;
}

.card-details{
  width: 100%;
  height: 190px;
  color: #fff;
  border-radius: 20px;
  padding: 0.75rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  font-size: 20px;
  padding: 20px;

  
 
}

.card-details h3{
  text-align: center;
  color: #fff;
  margin-block: -10px;
 
}

.p-name,
.t-details,
.f-details{
  height: 28px;
}

.f-details{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
 
}

.p-name p,
.t-details p,
.f-details p{
  font-size: 0.75em;
}

.t-details .p-d-type-details{
  margin: 0 0.1rem;
}

/* Pokemon Detailed */

.pokemon-details-container{
  padding: 0.5rem;
  background: rgb(0, 0, 0);
  color: #fff;
}

.full-pokemon-container{
  border-radius: 15px;
  padding: 0.5rem;
  background-color: rgb(43,41,44);
}

.full-pokemon-container button{
  border-radius: 6px;
  border: none;
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: 0.2s;

}

.full-pokemon-container button:hover,
.full-pokemon-container button:focus{
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.full-pokemon-container button i{
  color: rgb(0, 0, 0);
 
}

.pokemon-details-card{
  background-color: rgb(204,60,49);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 15px 15px;
  
}

.pokemon-details-card img{
  width: 250px;
  margin-bottom: 60px;
 
}

.pokemon-details-card .loading-data-box{
  width: 90%;
  height: 25px;
}

.p-d-info {
  background: #7c7c7c4c;
  width: 100%;
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.2s;
  color: #ffffff;
  border-radius: 0px 0px 15px 15px;
}
@media screen and ( min-width: 992px ){
  .p-d-info {
    border-radius: 15px 15px 0px 0px;
  }
}


.p-d-pname{
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 0.75rem;
}

.p-d-pname .loading-data-box{
  height: 35px;
 
}

.p-d-type-title,
.p-d-type-info{
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.p-d-type{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  
}

.p-d-pname,
.p-d-type{
  text-align: center;
  
}

.p-d-type-details{
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  color: white;
  padding: 5px 10px;
  background-color: #000;
}

.p-d-hnw{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.p-d-hnw-title,
.p-d-hnw-description{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25px;
}

.p-d-stats-container,
.p-d-extra-stats-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.p-d-stats-title{
  display: flex;
  text-align: center;
  align-items: center;
  height: 25px;
  width: 100%;
  justify-content: center;
}

.p-d-stat-container{
  width: 100%;
  display: flex;
  height: 25px;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.p-d-stat-container p{
  width: 120px;
}

.p-d-stat-bar{
  width: 150px;
  background-color: rgb(139, 139, 139);
  height: 1rem;
  border-radius: 50px;
  display: flex;
  position: relative;
}

.p-d-stat-bar p{
  font-size: 12px;
  color: rgb(2, 2, 2);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.p-d-stat-bar-filled{
  height: 100%;
  background: #e0e0e0;
  border-radius: 0px 50px 50px 0;
}

.p-d-moves-card{
  padding: 1.5rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
}

.p-d-moves-card .loading-data-box{
  height: 25px;
  width: 100%;
}

.p-d-moves-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.p-d-moves-title{
  display: flex;
  text-align: center;
  align-items: center;
  height: 25px;
  margin: 0 0 1rem 0;
  width: 100%;
  justify-content: center;
}

.p-d-moves-ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 350px;
  gap: 5px;
}

.p-d-moves-ul .loading-data-box{
  height: 35px;
}

.p-d-moves-ul li{
  list-style: none;
  background-color: rgb(55, 55, 55);
  border-radius: 0.5rem;
  padding: 15px;
  text-align: center;
}

.ul-loading li{
  padding: 0;
}

.not-found-card{
  min-height: 80vh;
  justify-content: center;
  margin: 0;
  text-align: center;
}

.not-found-card h2{
  color: white;
}

/* Madia 992 */

@media screen and ( min-width: 992px ){

  /* Pokedex */

  .pokedex-menu{
    margin-bottom: 1rem;
  }

  .pokedex-container{
    padding: 1rem;
  }

  .pokemons-list{
    gap: 1rem;
    max-width: 950px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Pokemon Detailed */

  .pokemon-details-container{
    padding: 1rem;
  }

  .full-pokemon-container{
    padding: 1rem;
  }

  .full-pokemon-container button{
    margin-bottom: 1rem;
  }

  .pokemon-details-card{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .pokemon-details-card img{
    margin: 0 auto;
    width: 400px;
  }

  .p-d-info{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p-d-pname{
    margin: 2rem;
    width: 350px;
  }

  .p-d-type{
    margin-bottom: 1rem;
    width: 350px;
  }

  .p-d-hnw{
    margin-bottom: 1rem;
    width: 350px;
  }

  .p-d-hnw-title,
  .p-d-hnw-description{
    justify-content: space-evenly;
  }

  .p-d-stat-container{
    width: 350px;
  }

  .p-d-stats-container{
    width: 350px;
  }

  .p-d-stats-title{
    margin-bottom: 0.5rem;
  }

  .p-d-extra-stats-container{
    margin-bottom: 10px;
  }

  .p-d-moves-ul{
    max-width: 1300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 10px;
  }

}

@media screen and ( min-width: 1300px ){

  /* Pokedex */

  .pokedex-menu p{
    font-size: 1.5rem;
  }

  .pokedex-menu form{
    display: flex;
  }

  .pokedex-menu form input{
    height: 45px;
    width: 300px;
    font-size: 1.2rem;
  }

  .pokedex-menu form button{
    height: 45px;
    width: 45px;
  }

  .pokedex-menu select{
    font-size: 1.2rem;
  }

  /* Card */

  .pokemons-list{
    max-width: 1130px;
  }

  .loading-data-box{
    height: 25px;
  }

  .p-name,
  .t-details,
  .f-details{
    height: 25px;
  }

  .p-name p,
  .t-details p,
  .f-details p{
    font-size: 1rem;
  }

  /* Pokemon Detailed */

  .p-d-moves-ul{
    max-width: 1500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

}

@media screen and ( min-width: 1500px ){
  .p-d-info{
    width: 800px;
  }

}

@media screen and ( min-width: 1800px ){

  .pokemon-details-card img{
    width: 450px;
  }

  .p-d-moves-ul{
    max-width: 2300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(230, 230, 230);
  }
  50% {
    background-color: rgb(180, 180, 180);
  }
  100% {
    background-color: rgb(230, 230, 230);
  }
}

@keyframes pokeball-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}